<h2>Mathematics</h2>
<hr>
<div>

<span class="action1 ">
    <p class="head headAction">Actions</p>
    <p>move,indent,<br>outdent,delete</p>
</span>
<span class="standard1 ">
    <p class="head headStandard">Standard</p>
    <p>The text of the standard</p>
</span>

</div>
<br><br><br><br>
<hr >
<div *ngFor="let standard of standards; trackBy:trackBYStandard" >
<app-secondary *ngIf="!standard.isDeleted" [id]="standard.id"></app-secondary>
</div><br>
<button (click)="add()"><i class="fa fa-plus-square-o "> </i> Add Standard</button>
