<div>
  <span class="action"
    >&nbsp; <i class="fa fa-arrows"> </i> &nbsp;
    <i class="fa fa-arrow-left" (click)="indentLeft()"> </i> &nbsp;
    <i class="fa fa-arrow-right" (click)="indentRight()"> </i> &nbsp;
    <i class="fa fa-trash-o" (click)="deleteStandard()"> </i>
  </span>
  <span class="standard">
    <span
      [ngClass]="{
        parent: this.data[this.index].isParent,
        child: this.data[this.index].isChild,
        subChild: this.data[this.index].isSubChild
      }"
    >
      <span class="indentBlock"> <i class="indentBack">- &nbsp;</i></span>
      <input
        type="text"
        placeholder="Type Standard here eg. (Numbers)"
        size="50"
        name="standardValue"
        [(ngModel)]="standardValue"
        (ngModelChange)="updateStandard()"
      />
    </span>
  </span>
</div>
<hr />
